.grid-container {
    display: grid;
    grid-template-rows: 200px 202px 415px;
    grid-template-columns: 414px 415px 412px 410px;
    grid-gap: 10px;
    background: black;
}

.item_1 {
    background-image: url("../images/two/1.jpg");
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.item_2 {
    background-image: url("../images/two/2.jpg");
    grid-column-start: 3;
    grid-column-end: 5;
}

.item_3 {
    background-image: url("../images/two/3.jpg");
    grid-column-start: 3;
    grid-row-start: 2;
}

.item_4 {
    background-image: url("../images/two/4.jpg");
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
}

.item_5 {
    background-image: url("../images/two/5.jpg");
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
}

.item_6 {
    background-image: url("../images/two/6.jpg");
    grid-column-start: 4;
    grid-row-start: 2;
    grid-row-end: 4;
}
